<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12" style="text-align: center;">
<h3>Shop List</h3>
</div>
</div>
<div class="row">
    <% @shops.each do |shop| %>
	<div class="col-xs-12 col-sm-8 offset-sm-2 col-md-8 offset-md-2 each-shop"
 style="height: auto;padding: 5px 15px;margin-bottom: 25px;">
 <div style="height: auto;width: 100%;border-bottom:0 solid #e1e1e1;padding: 5px;">
	<p><b>Name </b><%= shop.shop_name.blank?? "NA": shop.shop_name %></p>
	<p><b>Address </b><%= shop.shop_addr.blank?? "NA": shop.shop_addr %></p>
	<p><b>Description </b><%= shop.shop_desc.blank?? "NA": shop.shop_desc %></p>
	<% if is_current_user(shop.user_id) %>
	<p><%= link_to 'Edit', edit_shop_path(shop) %></p>
	<% end %>
	<p><%= link_to 'View details', shop_path(shop), class: 'btn btn-secondary', role: 'button' %></p>
	</div>
	</div>
	<% end %>
</div>
 <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 pagination-wrap">
 	<%= will_paginate @posts %>
 </div>

<style type="text/css">
	.pagination-wrap {
		height: auto;
		padding: 5px;
	}
	.pagination-wrap .pagination {
		height: auto;
		margin-top: 10px;
		padding: 7px 5px;
		border-radius: 0;
		text-align: center;
	}
	.pagination-wrap .pagination span,
	.pagination-wrap .pagination a {
		padding: 0 6px;
	}
</style>