<%# form_for @shop, url: {action: 'create'}, html: { class: 'shop_form'} do |f| %>
<%= form_with scope: :shop,url: shops_path, local: true do |f| %>

<% if @shop.errors.any? %>
<ul>
<% @shop.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>
<% end %>

<p>
<%= f.label :Name %><br/>
<%= f.text_field :shop_name, { class: 'shop_name'} %>
</p>

<p>
<%= f.label :Address %><br/>
<%= f.text_field :shop_addr, { class: 'shop_addr'} %>
</p>

<p>
<%= f.label :Descripton %><br/>
<%= f.text_area :shop_desc, { class: 'shop_desc'} %>
</p>

<p><%= f.submit %></p>
<% end %>
<p><%= link_to 'Shop List', shops_path %></p>