<div class="row">
<div class="col-xs-12 col-sm-8 offset-sm-2 col-md-8 offset-md-2">
<h3><%= @shop.shop_name %></h3>
<p><b>Address: </b><%= @shop.shop_addr.nil?? "N/A": @shop.shop_addr %></p>
<p><b>Description: </b><%= @shop.shop_desc %></p>
<% if is_current_user(@shop.user_id) %>
<span><%= link_to 'Edit Shop', edit_shop_path(@shop) %></span>
<% end %>
</div>
</div>

<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
	<h4>Product List<span style="
	font-size: 13px;"> / <%= link_to 'New Product', new_shop_product_url(@shop) %></span></h4>
</div>

<% if @shop.product.length > 0 %>
<% @shop.product.each do |product| %>
<div class="col-xs-12 col-sm-8 offset-sm-2 col-md-8 offset-md-2 each-product"
 style="height: auto;padding: 5px 15px;margin-bottom: 25px;">
 <div style="height: auto;width: 100%;border-bottom:0 solid #e1e1e1;padding: 5px;">
	<h4><%= product.product_name %></h4>
	<p><b>Shop Descriptioin</b><br/><%= product.product_desc %></p>

	<% if is_current_user(@shop.user_id) %>
	<span><%= link_to 'Edit', edit_shop_product_path(@shop, product) %></span> / 
	<span><%= link_to 'Destroy', shop_product_path(@shop, product),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></span> / 
	<% end %>

	<span><%= link_to 'View', shop_product_url(@shop, product) %></span>
</div>
</div>
<% end %>
<% end %>

</div>