<div class="row">
<div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 each-product"
 style="height: auto;padding: 5px 15px;margin-bottom: 25px;">
<%= form_with scope: :user,url: 'login', local: true do |form| %>
<div class="form-group">
<%= form.label :Email %><br/>
<%= form.text_field :email, { class: 'login_user_email form-control', id: 'login_user_email' } %> <!-- value: 'EMAIL' -->
</div>
<div class="form-group">
<%= form.label :Password %><br/>
<%= form.password_field :password, { class: 'login_user_password form-control', id: 'login_user_password' } %> <!-- value: '111111' -->
</div>
<div class="form-group">
<%= form.submit "Sign In", {class: 'btn float-right'} %>
</div>
<% end %>
</div>
</div>