<div class="row">
<div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 each-product"
 style="height: auto;padding: 5px 15px;margin-bottom: 25px;">
<%= form_with scope: :user,url: 'create', local: true do |form| %>
<% if @user.errors.any? %>
<% @user.errors.full_messages.each do |err_msg| %>
<p style="color: red;"><%= err_msg %></p>
<% end %>
<hr color="red">
<% end %>
<div class="form-group">
<%= form.label :Name %><br/>
<%= form.text_field :name, 
{ class: 'form-control user_name', id: 'user_name'  } %>
</div>
<div class="form-group">
<%= form.label :Email %><br/>
<%= form.text_field :email, 
{ class: 'form-control user_email', id: 'user_email' } %>
</div>
<div class="form-group">
<%= form.label :Password %><br/>
<%= form.password_field :password, 
{ class: 'form-control user_password', id: 'user_password' } %>
</div>
<div class="form-group">
<%= form.label :Password_Confirmation %><br/>
<%= form.password_field :password_confirmation, 
{ class: 'form-control user_password_confirmation', id: 'user_password_confirmation' } %>
</div>
<div class="form-group">
	<%= form.submit "Sign Up", {class: 'btn float-right'} %>
</div>
<% end %>
</div>
</div>