<% #form_with(model: @product, local: true, multipart: true) do |f| %>
<%#form_with(model: [ @shop, @shop.product.build ], local: true) do |f| %>
<%= form_with(model: [ @shop, @product ], local: true) do |f| %>

<% if @product.errors.any? %>
<ul>
<% @product.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>
<% end %>

<p>
<%= f.label :product_name %><br/>
<%= f.text_field :product_name, { class: 'product_name'} %>
</p>

<p>
<%= f.label :product_desc %><br/>
<%= f.text_field :product_desc, { class: 'product_desc'} %>
</p>

<%= image_tag(@product.product_image_url) if @product.product_image? %>
<p>
<%= f.label :product_image %><br/>
<%= f.file_field :product_image, { class: 'product_image'} %>
<%= f.hidden_field :product_image_cache %>
</p>


<p><%= f.submit %></p>
<% end %>
<p><%= link_to 'Product List Of Parent Shop', shop_path(@shop) %></p>