<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12" style="text-align: center;"><h3>Product List</h3></div>
</div>

<div class="row">
<% @products.each do |product| %>
<div class="col-xs-12 col-sm-8 offset-sm-2 col-md-8 offset-md-2 each-product"
 style="height: auto;padding: 5px 15px;margin-bottom: 25px;">
 <div style="height: auto;width: 100%;border-bottom:0 solid #e1e1e1;padding: 5px;">
<p><b>Product Name </b><%= product.product_name.blank?? "NA": product.product_name %></p>
<p><b>Product Description </b><%= product.product_desc.blank?? "NA": product.product_desc %></p>

<% if is_current_user(product.shop.user_id) %>
<span><%= link_to 'Edit', edit_shop_product_path(product.shop, product) %></span> / 
<% end %>
<span><%= link_to 'Show', shop_product_path(product.shop, product) %></p>
</div>
</div>
<% end %>
</div>

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 pagination-wrap">
     <%= will_paginate @products %>
</div>
</div>
<style type="text/css">
	.pagination-wrap {
		height: auto;
		padding: 5px;
	}
	.pagination-wrap .pagination {
		height: auto;
		margin-top: 10px;
		padding: 7px 5px;
		border-radius: 0;
		text-align: center;
	}
	.pagination-wrap .pagination span,
	.pagination-wrap .pagination a {
		padding: 0 6px;
	}
</style>