<div class="row">
<div class="col-xs-12 col-sm-10 offset-md-1 col-md-8 offset-md-2" style="word-wrap: break-word;height: auto;padding: 10px 15px;">
<!-- <h4><%= link_to 'VIew File', @product.product_image.url %></h4> -->
	<p><%= link_to 'Product List Of Parent Shop', shop_path(@product.shop) %></p>
	<h3><%= @product.product_name %></h3>
	<%= image_tag(@product.product_image,class: "img-fluid") if @product.product_image %>
	<p><b>Product Descriptioin</b><br/><%= @product.product_desc %></p>
	<% if is_current_user( @product.shop.user_id ) %>
	<span><%= link_to 'Edit', edit_shop_product_path(@product.shop, @product) %></span> / 
	<span><%= link_to 'Destroy', shop_product_path(@product.shop, @product),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></span>
	<% end %>
</div>
</div>